$icon-font-path: '../bower_components/bootstrap-sass/assets/fonts/bootstrap/';

/* color */

$base-color : #C88348;
$base-color-red : #D58F53;
$base-color-blue : #7A96AE;
$base-color-green : #7AAE88;
$base-color-pink : #CB827C;

$base-color-red-medium : #F38222;
$base-color-blue-medium : #0066A4;
$base-color-green-medium : #7BC144;
$base-color-pink-medium : #BE756F;

$base-color-red-dark : #C88348;
$base-color-blue-dark : #6E88A1;
$base-color-green-dark : #6FA17C;
$base-color-pink-dark : #BE756F;