@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'decoboots-variables';
@import 'decoboots';
@import "font-awesome.css";
@import "open-sans.css";
@import url('https://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800');

@mixin header-display($color) {
  header {
    top: 0;
    z-index: 1;
    position: absolute;
    display: block;
    color: transparent;
    width: 100%;
    @extend .border-bottom-color-slyling;
    div{
      height: 175px;
      padding: 0;
    }
    .bg-header {
      background-color: #202c34;
    }
    #nav_left {
      padding: 0;
      #logo {
        background: url('/medias/images/logo.png') center top no-repeat scroll #202c34;
        display: block;
        height: 175px;
      }
    }
    #nav_middle{
      @extend .no-space-side;
      background-color: rgba(32, 44, 52, 0.85);
      #top_infos{
        height: 50px;
        padding: 10px;
        p, span, a, a:hover, a:active{
          color: rgba(255, 255, 255, 0.6);
        }

      }
      #main_menu{
        @extend .no-space-side;
        color: #ffffff;
        height: 125px;
        a, a:hover, a:active{
          font-family: open_sanslight;
          color: #ffffff;
        }
        .navbar-wrapper, .navbar{
          height: 100%;
          margin-bottom: 0;
        }
        .navbar{
          display: flex;
          align-items: flex-end;
          .navbar-nav{
            li{
              font-size: 16px;
              padding: 16px;
            }
            li:hover{
              background-color: $color;
            }
          }
        }
        .navbar-header{
          height: 50px;
        }
        .navbar-default {
          background-color: transparent;
          border:none;
          .navbar-toggle {
            background-color: $color;
            border-color: $color;
            .icon-bar{
              background-color: #ffffff;
            }
          }
        }
      }
    }
  }
  .branding{
    position: relative;
    top: 0;
    z-index: 0;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    max-height: 800px;
    overflow-y: hidden;
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
      max-width: 150%;
    }
    .carousel-caption{
      background-color: rgba(0,0,0,0.70);
      padding: 0 15px 0 15px;
      left: 35%;
      right: 35%;
      top: 30%;
      bottom: 40%;
      font-family: open_sanslight;
      text-align: left;
      h3{
        font-family: Dosis;
        font-weight: 200;
        font-size: 30px;
        width: 70%;
      }
      span{
        font-family: Dosis;
        font-weight: 300;
        font-size: 150px;
        float: right;
        margin-top: -70px;
      }
      .slide-category-text{
        font-size: 25px;
        text-align: right;
        margin-top: 70px;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
      .link{
        position: absolute;
        right: 0;
        bottom: -52px;
        width: 300px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color;
        color: #ffffff;
        font-size: 16px;
        a, a:hover, a:active{
          color: #ffffff;
          text-decoration: none;
        }
        span{
          font-size: 65px;
          position: relative;
          float: none;
          padding: 0;
          position: absolute;
          left: 15px;
          bottom: -9px;
        }
      }
    }
    .carousel-control {
      .fa-chevron-left{
        position: absolute;
        top: 50%;
        left: 2px;
        font-size: 50px;
        color: #ffffff;
      }
      .fa-chevron-right{
        position: absolute;
        top: 50%;
        right: 2px;
        font-size: 50px;
        color: #ffffff;
      }
    }
    @extend .border-bottom-color-slyling;
    .carousel-inner>.item>a>img, .carousel-inner>.item>img {
      display: block;
      width: 150%;
      height: auto;
      line-height: 1;
    }

  }
  @media (max-width: 768px){
    header {
      .col-sm-12:first-child{
        display: none;
      }
      .col-sm-12:last-child{
        border-bottom: none;
      }
      #nav_middle{
        #main_menu{
          .navbar{
            display: block;
            align-items: inherit;
            .navbar-collapse{
              background-color: #202c34;
              border: none;
            }
          }
        }
      }
    }
    .branding{
      border-bottom: none;
      margin-bottom: 195px;
      .carousel-caption{
        display: none;
      }
      .carousel-inner{
        .item{
          img{
            height: 350px;
          }
        }
      }
    }
    .companies-container{
      margin-top: 350px!important;
    }
    .news-container{
      .container{
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
        .col-md-4{
          width: 80%;
          margin: auto;
          padding: 0;
        }
        .col-md-4:nth-child(3){
          margin: auto;
        }
      }
    }
    .container-bottom-infos{
      .container{
        .col-md-4{
          text-align: center;
        }
      }
    }
  }
}

body{
  position: relative;
  &.red{
    .border-bottom-color-slyling{
      border-bottom: 15px solid $base-color-red;
    }
    @include header-display($base-color-red);
  }
  &.green{
    .border-bottom-color-slyling{
      border-bottom: 15px solid $base-color-green;
    }
    @include header-display($base-color-green);
  }
  &.blue{
    .border-bottom-color-slyling{
      border-bottom: 15px solid $base-color-blue;
    }
    @include header-display($base-color-blue);
  }
  &.pink{
    .border-bottom-color-slyling{
      border-bottom: 15px solid $base-color-pink;
    }
    @include header-display($base-color-pink);
  }
}

p{
  color: #6B6B6B;
  font-size: 12px;
}
.no-space-side{
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

@mixin company-content($color, $color-dark) {
  h3{
    color: $color;
    min-height: 55px;
    font-family: Dosis;
    font-weight: 200;
    font-size: 30px;
  }
  .services{
    background-color: $color;
    color: #ffffff;
    min-height: 310px;
    padding: 15px;
    ul{
      margin-left: -15px;
      li{
        padding-left: 15px;
        list-style-type: none;
        list-style-image: url('/medias/images/arrow_white_small.png');
      }

    }
  }
  .link{
    text-align: center;
    padding: 20px;
    a, a:hover, a:active{
      color: #ffffff;
      i {
        margin-right: 10px;
      }
    }
  }
  .logo{
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center 10px;
  }
}
.companies-container{
  padding-right: 0;
  padding-left: 0;
  .company{
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 0;
    &.red{
      @include company-content($base-color-red, $base-color-red-dark);
    }
    &.blue{
      @include company-content($base-color-blue, $base-color-blue-dark);
    }
    &.green{
      @include company-content($base-color-green, $base-color-green-dark);
    }
    &.pink{
      @include company-content($base-color-pink, $base-color-pink-dark);
    }
  }
}

.news-container{
  background-color: #E5E5E5;
  .container{
    padding: 15px 0 20px 0;
    h3{
      color: #858585;
      margin-bottom: 20px;
    }
    .col-md-4{
      width: 32.3333333%;
      margin: 0 0 15px 0;
      background-color: #ffffff;
      padding: 0;
      .cover{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        height: 180px;
        img{
          width: 100%;
        }
      }
      .content{
        position: relative;
        padding: 15px 15px 0 15px;
        min-height: 180px;
        h4{
          border-bottom: 3px solid #EAEAEA;
          padding: 0 0 10px 0;
          margin-top: 0;
          font-family: Dosis;
          font-weight: 500;
        }
        div{
          margin: 0;
          padding: 0;
          min-height: 133px;
          p{
            color:#6B6B6B;
            font-size: 12px;
          }
          .category{
            color: $base-color-red-medium;
            font-weight: bold;
            border-left: 12px solid $base-color-red-medium;
            position: absolute;
            bottom: 0;
            padding: 5px 0 15px 10px;
            margin-bottom: 0;
            font-family: Dosis;
            font-size: 16px;
          }
        }
        .link{
          background-color: #000000;
          width: 40px;
          height: 40px;
          min-height: 40px;
          position: absolute;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          right: 15px;
          a{
            text-decoration: none;
            margin: 0;
            padding: 0;
            color: #ffffff;
            font-size: 30px;
            text-align: center;
          }
        }
        .link:hover{
          background-color: #ffffff;
          width: 40px;
          height: 40px;
          min-height: 40px;
          position: absolute;
          bottom: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          right: 15px;
          border: 1px solid #000000;
          a{
            text-decoration: none;
            margin: 0;
            padding: 0;
            color: #000000;
            font-size: 30px;
            text-align: center;
          }
        }
      }
    }
    .col-md-4:last-child{
      .content{
        div{
          .category{
            color: $base-color-green-medium;
            border-left: 12px solid $base-color-green-medium;
          }
        }
      }
    }
    .col-md-4:nth-child(3){
      margin-right: 15px;
      margin-left: 15px;
      .content{
        div{
          .category{
            color: $base-color-blue-medium;
            border-left: 12px solid $base-color-blue-medium;
          }
        }
      }
    }
  }
}

.container-content-article{
  padding: 35px 0 35px 0;
  line-height: 30px;
  p{
    font-weight: 400;
    font-family: Dosis;
    font-size: 16px;
    a, a:hover{
      color: inherit;
    }
    img{
      margin: 0 48px;
    }
  }
}

.container-bottom-infos{
  background: #d1d1d1 url('/medias/images/footer_top_bg_repeat.png') left top repeat-x scroll;
  padding: 20px 0;
  .container{
    .col-md-4{
      img{
        padding-top: 25px ;
      }
    }
  }
  #contact-infos{
   p{
     font-weight: bold;
     font-size: 16px;
   }
  }
  h3{
    color: #ffffff;
    a, a:active, a:hover{
      color: #ffffff;
    }
  }
  .well{
    background-color: inherit;
    border: none;
    box-shadow: none;
  }
  #newsletter_add_wrapper{
    form{
      padding: 0;
      margin: 0;
      input{
        width: 100%;
        border: 1px solid #b6b6b6;
        padding: 10px 10px;
        color: #6e6d6d;
        margin-bottom: 9px;
      }
      button{
        background-color: #868d91;
        color: #ffffff;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        padding: 7px 0;
        width: 100%;
      }
    }
  }
}

footer{
  background-color: #202c34;
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 40px;
  font-size: 13px;
  .container{
    .col-md-6{
      text-align: left;
      a, a:hover, a:active{
        color: #ffffff;
      }
    }
    .col-md-6:last-child{
      text-align: right;
    }
  }
}